h1{
  text-align: center;
}
.img{
  text-align: center;
}
.zigyou{
  font-size: 20px;
}
/*共通部分は省略*/

/*その他と主な共通部分は省略*/

  input {
  color: #fff;
  border-top: 4px solid #48ecc4;
  border-right: 4px solid #0a5f4a;
  border-bottom: 4px solid #0f745b;
  border-left: 4px solid #8cf9de;
  border-radius: 0;
  background: #11a37f;

}

input:hover {
  color: #fff;
  border-top: 4px solid #0f745b;
  border-right: 4px solid #8cf9de;
  border-bottom: 4px solid #48ecc4;
  border-left: 4px solid #0a5f4a;
}
input{
  text-align: center;  
  width: 50%;
  /*コレ*/text-align: center;
  padding: 10px;
   /*コレ*/display: flex;
    /*コレ*/justify-content: center;
    margin: auto;
  }
  p{
    margin: 5%;
  }